@model ProjekatPPP.Models.BO.MasinaBO

@{
    ViewData["Title"] = "VratiMasinu";
}

<h1>Vracanje masine</h1>

<h3>Da li ste sigurni da zelite da vratite masinu?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VratiMasinu">
            <input type="hidden" asp-for="idMasine" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Vrati" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllMasine">Nazad na listu</a>
</div>

