html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
    margin-bottom: 60px;
    background-color: darkslategray; 
    color: white;

}

.display-4 {
    visibility: hidden;
}

.display-4::after {
        float: left;
        visibility: visible;
        content: "ComTec admin centar";
}
.table{
    color: white;
}

.pb-3 div {
    visibility: hidden;
}

footer{
    margin-bottom: 70px;
}*/